header {
    background-color: teal;
    height: 10%;
}
main {
    height: 85%;
}
footer {
    display: flex;
    background-color: black;
    height: 5%;
}
h1 {
    font-size: 60px;
}
#container {
    display: flex;
    justify-content: space-between;
}
.titre {
    text-align: center;
}
.titre h2 {
    height: 40px;
    background-color: skyblue;
}
.bloc-titre {
    text-align: center;
    margin-top: 2%;
}
.bloc-infos {
    margin-top: 1%;
    margin-right: 1%;
}
#container-intro {
    display: flex;
}
#bloc-footer {
    justify-content: space-between;
}
.item {
    margin-top: 1%;
}
.item a {
    margin-left: 10px;
}
.d-block {
    min-width: 100%;
}
.la-carte {
    text-align: center;
}
.la-carte h2 {
    height: 40px;
    background-color: skyblue;
}
.cadre-carte {
    border: 1px solid black;
}
.events {
    text-align: center;
}
.events h2 {
    height: 40px;
    background-color: skyblue;
}
.LePaï-Sho {
    text-align: center;
}
.LePaï-Sho h2 {
    height: 40px;
    background-color: skyblue;
}